apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prod-cloud-infra-demo-staging

resources:
  - namespace.yaml
  - ../base

patches:
  - patch: |-
      - op: replace
        path: /metadata/namespace
        value: prod-cloud-infra-demo-staging
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: staging
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: app
  - patch: |-
      - op: replace
        path: /metadata/namespace
        value: prod-cloud-infra-demo-staging
    target:
      kind: Service
  - patch: |-
      - op: replace
        path: /metadata/namespace
        value: prod-cloud-infra-demo-staging
    target:
      kind: Ingress

